@font-face {
  font-family: "Rubik";
  src: url("https://apps.maxspuling.de/assets/fcq/fonts/Rubik-VariableFont_wght.ttf")
    format("truetype-variations");
  font-weight: 100 900;
}

@font-face {
  font-family: "Rubik";
  src: url("https://apps.maxspuling.de/assets/fcq/fonts/Rubik-Italic-VariableFont_wght.ttf")
    format("truetype-variations");
  font-weight: 100 900;
  font-style: italic;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  line-height: calc(1em + 0.5rem);
  touch-action: manipulation;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  font-size: clamp(1rem, 2vw, 1.5rem);
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

a[href],
area,
button,
input,
label[for],
select,
summary,
textarea,
[tabindex] {
  cursor: pointer;
}

input,
button,
textarea,
select {
  color: inherit;
  font: inherit;
  font-size: inherit;
  letter-spacing: inherit;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  user-select: none;
}

button {
  border: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --slate-100: hsl(195, 25%, 91%);
  --slate-200: hsl(195, 25%, 74%);
  --slate-400: hsl(195, 14%, 46%);

  --blue-300: hsl(201, 72%, 55%);
  --blue-400: hsl(201, 72%, 35%);
  --blue-900: hsl(201, 71%, 18%);

  --teal-400: hsl(185, 78%, 22%);

  --gray-400: hsl(240, 2%, 49%);
  --gray-900: hsl(240, 2%, 8%);

  --white: hsl(240, 100%, 98%);

  --warning: hsl(356, 66%, 49%);
  --success: hsl(135, 99%, 26%);

  --fw-normal: 320;
  --fw-bold: 450;
}

body {
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: var(--fw-normal);
  color: var(--gray-900);
  background-color: var(--slate-200);
}

html,
body {
  position: fixed;
  overflow: hidden;
}

.mainwrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--fw-bold);
}

a.btn {
  text-decoration: none;
}

.container {
  display: grid;
  grid-template-columns: 1fr min(100% - 2rem, var(--max-width, 65ch)) 1fr;
}

.container > * {
  grid-column: 2;
}

.container > .full-bleed {
  width: 100%;
  grid-column: 1 / -1;
}

.container > * + * {
  margin-top: var(--vertical-rhythm, 0.5em);
}

main.container {
  margin: 3vh auto 20vh auto;
}

/* Utilities */
.rounded {
  border-top-left-radius: var(--br-size, 0.5rem);
  border-top-right-radius: var(--br-size, 0.5rem);
  border-bottom-right-radius: var(--br-size, 0.5rem);
  border-bottom-left-radius: var(--br-size, 0.5rem);
}

.shadow {
  box-shadow: 0 0 var(--shadow-size, 1rem) var(--shadow-clr, rgb(0 0 0 / 0.25));
}

.link {
  color: var(--blue-400);
}

.link.light {
  color: var(--blue-300);
}

.bold {
  font-weight: var(--fw-bold);
}

.italic {
  font-style: italic;
}

.small {
  font-size: 75%;
}

.upper {
  text-transform: uppercase;
}

.page-title {
  font-size: 200%;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: var(--align, center);
  gap: var(--gap, 1rem);
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.fixed-bottom {
  position: fixed;
  inset: auto auto 0 auto;
}

.fit-text {
  font-size: min(
    calc(
      var(--width, 100%) / (var(--text-length, 1) * 0.5) * var(--scale, 7.5)
    ),
    130%
  );
}

/* Blocks */
.overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  color: var(--white);
  background-color: rgb(0 0 0 / var(--opacity, 0.85));
}

.btn {
  --br-size: 100vw;

  background-color: var(--bg-color, var(--slate-100));
  color: currentColor;
  width: fit-content;
  padding: 0.2em 1em;
}

.button-group {
  width: 100%;
}

.btn-reject {
  --bg-color: var(--warning);
  color: var(--white);
}

.btn-accept {
  --bg-color: var(--success);
  color: var(--white);
}

.cookie-banner {
  padding: 1em 1.5em;
  background-color: var(--blue-900);
  color: var(--white);
  width: 100%;
}
